
.conheca{
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    margin-left: 10px;
    font-size: 21px; 
}
.nomes_parceiros{
    font-family: 'Poppins', Arial, Helvetica, sans-serif; 
    margin-left: 10px;
} 
body{
    background-color: #f9d423; 
}